
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantou2xia:before { content: "\e600"; }
.icon-ux14002204091397903:before { content: "\e601"; }
.icon-xiangqing:before { content: "\e60b"; }
.icon-mulujian:before { content: "\e605"; }
.icon-shanchu:before { content: "\e60c"; }
.icon-lingdang:before { content: "\e602"; }
.icon-knowledge-base:before { content: "\e603"; }
.icon-yijianfankui:before { content: "\e604"; }
.icon-zhongqi:before { content: "\e60d"; }
.icon-yanqiuaddtime:before { content: "\e60e"; }
.icon-xiugai:before { content: "\e60f"; }
.icon-shenhe:before { content: "\e610"; }
.icon-renqunfenbu1:before { content: "\e606"; }
.icon-shizhong:before { content: "\e607"; }
.icon-xianshitubiao:before { content: "\e608"; }
.icon-kehuguanli:before { content: "\e609"; }
.icon-gongshangdaili:before { content: "\e60a"; }
