<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>播放器</title>
    <link rel="stylesheet" href="/css/ui.css"/>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/vue.js"></script>
    <script src="/js/lib/vue-router.min.js"></script>
    <script src="/js/lib/vue-resource.min.js"></script>

</head>
<body class="skin-blue">
    <div class="wrapper" id="app">
        <%- include("header.html") %>
        <%- include("slider.html") %>
        <%- include("content.html") %>
        <%- include("footer.html") %>
    </div>
    <script src="/js/build.js"></script>
</body>
</html>