//全局颜色


//顶部颜色
$blue:#367fa9 !default;
$green:#008d4c !default;

//顶部链接字体颜色
$blueHeaderLinkColor:#fff !default;

// Slider颜色
$blueBlackSlider:#222d32 !default;

//Slider 链接颜色
$deepWhiteSliderColor:#b8c7ce !default;

//active以及hover Slider链接颜色
$hoverDeepWhiteSliderColor:#fff !default;

//active以及hover Slider 列表背景颜色
$hoverDeepSliderBgColor:#1e282c !default;

//全局字体颜色
$fontColor:#333 !default;

//导航颜色
$buleNavBgColor:#3c8dbc !default;
$greenNavBgColor:#00a65a !default;

//内容模块背景
$defaultContentBgColor:#ecf0f5 !default;

//网站主要颜色

$primaryColor:#3c8dbc !default;
$dangerColor:#dd4b39 !default;

//提示字体颜色

$msgError:#dd4b39 !default;