@import "normalize.min.css";
@import "../iconfont/iconfont.css";

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{ -webkit-tap-highlight-color: rgba(0,0,0,0);}
html,body{min-height: 100%;}
a{ text-decoration: none;}
th,td{ text-align: center;}
body{ font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif, 'SimSun'; font-size: 14px; font-weight: 400; color: #333;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-x: hidden; overflow-y: auto; background-color: #fff;}
:after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.navbar-nav:before,.navbar-nav:after,.clearfix:before,.clearfix:after,.panel>.panel-header:before,.panel>.panel-header:after,.seach-form:before,.seach-form:after,.info-item:before,.info-item:after,.selected-product:before,.selected-product:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.navbar-nav,.sidebar-menu{ list-style: none; margin: 0; padding: 0;}
select{ display: none;}
[v-cloak]{ display: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"] {
     -moz-appearance: textfield;
 }
.fl{ float: left; display: inline;}
.fr{ float: right; display: inline;}

.tal{ text-align: left;}
.tac{ text-align: center;}
.tar{ text-align: right;}


.mt0{ margin-top: 0 !important;}
.mt5{ margin-top: 5px !important;}
.mt10{ margin-top: 10px !important;}

/*宽度*/
.w100{ width: 100px !important;}
.w150{ width: 150px !important;}
.w200{ width: 200px !important;}
.w250{ width: 250px !important;}
.w300{ width: 300px !important;}
.w350{ width: 350px !important;}
.w400{ width: 400px !important;}
.w450{ width: 450px !important;}

/*标签*/
.label{ display: inline;white-space: nowrap; vertical-align: baseline;border-radius: .25em;text-align: center;font-size: 75%; font-weight: 700; line-height: .9; color: #fff;    padding: 5px 7px 4px;}
.label-warning{ background: #e9971d;}
.label-pass{ background: #47bbbc;}
.label-fail{ background: #d14a39;}
.label-pause{ background: #5b589e;}
.label-success{ background: #189e58;}
.label-wait{ background: #3c86b2;}


/*图标*/
.iconfont{ display: inline-block; line-height: 1; font-size: 14px;}
.icon-toggle,.icon-toggle:after,.icon-toggle:before{ display: inline-block; width: 15px; height: 15px; border-top: 2px solid #fff;}
.icon-toggle{ position: relative;}
.icon-toggle:after,.icon-toggle:before{content: " "; position: absolute; width: 100%; height: 2px; background: #fff;}
.icon-toggle:after{top: 3px; }
.icon-toggle:before{top: 9px;}
.icon-must{ color: #f00; font-family: Arial; vertical-align: -3px;}

/*三角形*/
.triangle-left,.triangle-right,.triangle-top,.triangle-bottom{display: inline-block; width: 0; height: 0; border-width: 10px; border-style: solid; }
.triangle-left{ border-left-color: #333; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent;}
.triangle-right{ border-right-color: #333; border-top-color: transparent; border-left-color: transparent; border-bottom-color: transparent;}
.triangle-top{ border-right-color: transparent; border-top-color: #333; border-left-color: transparent; border-bottom-color: transparent;}
.triangle-bottom{ border-right-color: transparent; border-top-color: transparent; border-left-color: transparent; border-bottom-color: #333;}

.action-tip-box{ position: absolute; background: rgba(0,0,0,0.5);}

/*面板*/

.panel{ background: #fff;border-radius: 4px; margin-top: 25px; margin-bottom: 0;
}
.panel>.panel-header{ border-top: 3px solid transparent;border-radius: 4px 4px 0 0; border-bottom: 1px solid #f4f4f5; font-size: 18px; line-height: 2; padding:7px 15px;}
.panel>.panel-header>.panel-name>.iconfont{ margin-right: 5px;}
.panel>.panel-header>.action-box{ margin-top: 10px;}
.panel>.panel-body{ padding: 25px 15px; margin-left: 0;}

.panel-deepblue>.panel-header{ border-top-color: #3c86b2;}
.panel-lightgray>.panel-header{ border-top-color: #d1d5dd;}
.panel-deepred>.panel-header{ border-top-color: #d14a39;}
.panel-deeporange>.panel-header{ border-top-color: #e9971d;}
.panel-lightblue>.panel-header{ border-top-color: #1fb5df;}
.panel-deepgreen>.panel-header{ border-top-color: #189e58;}
.panel-deepblack>.panel-header{ border-top-color: #0c1f3b;}


/*表格面板*/
.panel-table>.panel-header{ border-bottom: none;}
.panel-table>.panel-body{ padding-top: 10px; padding-bottom: 10px;}

/*按钮*/
.btn{ display: inline-block;border-radius: 3px; padding: 6px 12px; font-size: 14px; font-weight: 400;line-height: 1.42857143;cursor: pointer;white-space: nowrap;background-image: none;border: 1px solid transparent; text-align: center; color: #fff;}

.btn-primary{background-color: #3c8dbc; border-color: #367fa9;}
.btn-primary:hover{background-color: #367fa9;border-color: #204d74;}
.btn-primary>.iconfont{ margin-right: 5px; font-size: 16px;}

.btn-lg{padding: 10px 16px; font-size: 18px; line-height: 1.3333333;}

.btn-lightblue{ background: #1fb5df; border-color: #00acd6;}
.btn-lightblue:hover{ background: #00acd6; border-color: #269abc;}

.btn-deepgreen{ background: #00a65a;border-color: #008d4c;}
.btn-deepgreen:hover{background-color: #008d4c;border-color: #398439;}
.btn-deepblack{ background: #0c1f3b;border-color: #061429;}
.btn-deepblack:hover{background-color: #0d1f3c;border-color: #04142c;}

.wrapper{ background-color: #222d32;min-height: 100%; position: relative; overflow: hidden;}
.wrapper:before, .wrapper:after { content: " "; display: table; }
.wrapper:after { clear: both; }

.main-header{ position: relative; max-height: 100px;z-index: 1030;}
.main-header .logo{ background-color: #367fa9; color: #fff; border-bottom: 0 solid transparent;-webkit-transition:width .3s ease-in-out;-moz-transition:width .3s ease-in-out;transition:width .3s ease-in-out; float: left; height: 50px; font-size: 20px; line-height: 50px; text-align: center; width: 230px; padding: 0 15px; font-weight: 300; overflow: hidden;}
.main-header .logo .logo-mini{ display: none;}
.main-header>.navbar{ background-color: #3c8dbc;-webkit-transition: margin-left .3s ease-in-out;-moz-transition: margin-left .3s ease-in-out;transition: margin-left .3s ease-in-out; margin-left: 230px;min-height: 50px;}
.sidebar-toggle{ float: left; padding: 16px; line-height: 1.5; font-size: 12px; color: #fff;overflow: hidden;}
.sidebar-toggle:hover{ background-color: #367fa9;}

.main-header .navbar-custom-menu{ float: right;}
.main-header .navbar-custom-menu .navbar-nav>li{ float: left;}
.main-header .navbar-custom-menu .navbar-nav>li>a{ position: relative;display: block;padding: 15px; color: #fff; line-height: 20px;}
.main-header .navbar-custom-menu .navbar-nav>li.notifications-menu>a{ padding: 11px 15px; line-height: 22px;}
.main-header .navbar-custom-menu .navbar-nav>li>a:hover{ background: #367fa9;}
.main-header .navbar-custom-menu .navbar-nav>li>a>.label{ position: absolute; top: 8px; right: 10px;padding: 2px 3px;}
.notifications-menu .iconfont{ font-size: 25px;}

.main-sidebar{ background-color: #222d32; position: absolute; top: 0; left: 0; padding-top: 50px;z-index: 810; min-height: 100%; width: 230px;-webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;-moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;transition: transform .3s ease-in-out,width .3s ease-in-out;}

.sidebar-menu{white-space: nowrap; overflow: hidden;}
.sidebar-menu>li>a{ border-left: 3px solid transparent; color: #b8c7ce;padding: 12px 5px 12px 15px; display: block;}
.sidebar-menu>li>a>.iconfont{ width: 20px;}
.sidebar-menu>li:hover>a{color: #fff; background: #1e282c; border-left-color: #3c8dbc;}


.content-wrapper{ min-height: 100%; background-color: #ecf0f5; margin-left: 230px;-webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;-moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;transition: transform .3s ease-in-out,margin .3s ease-in-out;}
.content-wrapper-main{ padding: 20px 35px;}

.main-footer{background: #fff; padding: 15px; color: #444; border-top: 1px solid #d2d6de;-webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out; -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out; transition: transform .3s ease-in-out,margin .3s ease-in-out; margin-left: 230px; z-index: 820;}

/*表格*/
.data-table{ width: 100%;}
.data-table th{ border: 1px solid #f4f4f5;border-top-width: 3px; }
.data-table td{ border: 1px solid #f4f4f5;}
.data-table td,.data-table th{ padding: 10px;position: relative;}

/*表格操作*/

.table-action-box{ display: inline-block;border: 1px solid #d1d5dd;border-radius: 2px; white-space: nowrap; }
.table-action-box>a{background: #f4f4f5; display: inline-block; padding: 4px 5px;font-size: 12px; border-right: 1px solid #d1d5dd;color: #555; position: relative;}
.table-action-box>a>i{font-size: 12px; }
.table-action-box>a:hover{ background: #e0e0e0;}
.table-action-box>a:hover:after,.table-action-box>a:hover:before{ display: block;}
.table-action-box>a:before{content:""; position: absolute;width: 0; height: 0; border-width: 5px;border-style: solid; border-color: transparent; border-top-color:rgba(0,0,0,0.8);left: -5px; margin-left: 50%; top: -7px; display: none; }
.table-action-box>a:after{content:attr(title); width:65px;position: absolute;background: rgba(0,0,0,0.8); color: #fff; padding: 5px 7px;border-radius:4px;white-space: nowrap;top: -32px; margin-left: 50%; left: -32px; display: none;}
.table-action-box a:last-of-type{ border-right: none; }



/*选择下拉框*/
.ui_select{ display: inline-block; font-size: 14px;position: relative;}
.ui_select>.ui_select_button{ display: inline-block; border: 1px solid #d1d5dd; background: #e7e7e6;border-radius:4px; padding: 10px 25px 10px 10px; color: #333; line-height: 1; width: 100%;}
.ui_select>.ui_select_button:hover{ background-color: #ddd;}
.ui_select>.ui_select_button>.ui_select_text{ display: inline-block; width: 100%;}
.ui_select>.ui_select_button>.ui_select_icon{ border-width: 5px;margin-left: 3px; position: absolute; right: 12px; top: 50%; margin-top: -2px;}
/*.ui_select.active>.ui_select_button{ border-color: #aaa;}*/
.ui_select.active>.ui_select_datalist{ display: block; position: absolute; width: 100%; left: 0; top: 98%; z-index: 10;}
.ui_select>.ui_select_datalist{ display: none; background: #fff; list-style: none; padding: 0; margin: 0; border: 1px solid #d1d5dd;}
.ui_select>.ui_select_datalist li{ padding: 5px 10px; cursor: pointer;white-space: nowrap; overflow: hidden;-webkit-transition: background-color .15s;-moz-transition: background-color .15s;transition: background-color .15s;}
.ui_select>.ui_select_datalist li:hover{ background: #fafafa;}
.ui_select>.ui_select_datalist li.selected{ background: #f0f0f0;}

/*输入框*/

.input-text{ border: 1px solid #d1d5dd; height: 36px; width: 200px; font-size: 14px; line-height: 36px; vertical-align: middle; padding: 0 5px;}
.textarea{ border: 1px solid #d1d5dd; width: 200px; height: 100px; padding: 5px;}
/*日期输入框*/
.date-box{ position: relative; display: inline-block;}
.date-box>.date-input-box{ display: inline-block; width: 100%; height: 100%;}
.date-box>.date-input-box>.date-input{ border: none;  width: 100%; height: 100%;vertical-align: top; cursor: pointer;}
.date-box>.date-input-box>.date-input:focus{outline: none;}

/*自动截取显示省略号*/
.auto-ellipsis-text{ position: absolute; left: 10px; right: 10px; top: 10px; bottom: 10px; line-height: 2;white-space: nowrap;text-overflow: ellipsis; overflow: hidden;}

/*栏目标题*/
.column-title{ font-size: 24px; display: block; margin-top: 0;margin-bottom: 25px; font-weight: 300;}

.column-content{ float: left; width: 50%; padding: 0 15px;}

/*显示*/
.info-item{margin: 0; margin-bottom: 15px;}
.info-item>dt{ float: left;line-height: 1;text-align: right; color: #777;}
.info-item>dd{ float: left; line-height: 25px; margin-left: 10px; margin-top: -4px; width: 100%;}

/*信息列表*/
.info-list-box>.panel-header{ border-bottom: none;}
.info-list-box>.panel-body{ padding-top: 5px;}
.info-list{ list-style: none; padding: 0; margin: 0;}
.info-list>li{ padding: 10px 10px 0 10px;border-top: 1px solid #f4f4f5; border-bottom: 1px solid #f4f4f5; margin-top: -1px;}
.info-list>li>.info-item{ padding-left: 60px; margin-bottom: 10px;}
.info-list>li>.info-item dt{ margin-left: -60px; width: 60px;}
.info-list>li>.info-item dd{ margin-left: 5px;}
.info-list>li>.info-item dd .label{ margin-left: 10px;}
.info-list>li>.info-item dd .datetime{ color: #999; margin-right: 5px;}


.selected-product,.select-item{display: inline-block; color: #fff; line-height: 1.5;white-space: nowrap; margin-right: 10px; margin-bottom: 10px;}
.selected-product-name,.selected-product-num,.item-name{ padding: 0 5px;}
.selected-product-name,.selected-product-num,.item-name,.item-num{ float: left; height: 40px; line-height: 40px;}
/*选中的产品*/
.selected-product-box{ margin-right: -10px;}
.selected-product{ background: #e9971d;}
.selected-product-name,.select-item.selected>.item-name{ background: #e9971d; color: #fff; border-color: transparent;}
.selected-product-num,.item-num{ background: #d38715; color: #fff; position: relative;}
/*.select-item .item-num:hover .item-action{ display: block;}*/
.select-item{ cursor: pointer;}
.select-item.selected{ border-color: transparent;}
.select-item .edit-num{ color: #333; border: 1px solid #d38715; width: 20px; background-color: #fff; height: 40px;text-align: center;}
.select-item .show-num{ padding: 0 5px; float: left;white-space: nowrap; overflow: hidden;}
.select-item .item-action{ display: block; width: 20px; height: 40px; float: left; background: #f4f4f4;}
.select-item .item-action a{ display: block;width: 100%; height: 20px; line-height: 20px; text-align: center;}
.select-item .item-action .item-plus .triangle-bottom,.select-item .item-action .item-reduce .triangle-top{ border-width: 5px;}
.select-item .item-action a:hover{ background: #ddd;}
.select-item .item-action a:active{ background: #ccc;}
.select-item .item-action .item-plus .triangle-bottom{ border-bottom-color: #666;}
.select-item .item-action .item-reduce .triangle-top{ border-top-color: #666;}
.select-item .item-action .item-plus{line-height: 1;}
.select-item .item-action .item-reduce{ line-height: 1.8;}
/*选择产品*/

.select-item{ color: #333; border: 1px solid #d1d5dd;}

@media(min-width:768px){
    .sidebar-collapse .main-header .logo{ width: 50px !important;}
    .sidebar-collapse .main-header .logo .logo-lg{ display: none !important;}
    .sidebar-collapse .main-header .logo .logo-mini{ display: inline !important;}
    .sidebar-collapse .main-sidebar{-webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0);width: 50px !important; z-index: 850;}
    .sidebar-collapse .sidebar-menu>li>a>span{ display: none !important;}
    .sidebar-collapse .sidebar-menu>li>a{ position: relative;}
    .sidebar-collapse .content-wrapper,.sidebar-collapse .main-footer,.sidebar-collapse .main-header>.navbar{ margin-left: 50px !important;}
    .sidebar-collapse .sidebar-menu{ overflow: visible;}
    .sidebar-collapse .sidebar-menu>li:hover>a>span{ display: block !important; position: absolute;border-radius: 4px; width: 120px; left: 50px; top: 0; margin-left: -6px;padding: 12px 5px 12px 20px; background-color: inherit;}
}
